.header
{
  height:55px;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  position:fixed;
  top:0;
  left:0;
  right:0;
  background-color: rgb(255, 255, 255);

  z-index:100;
}
.left-section
{
  display:flex;
  margin-right:70px;
  justify-content:center;
  align-items: center;
}
.hamburger-menu-container
{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-right:15px;
  margin-left:23px;
  
}
.hamburger-menu-container:hover
{
  background-color:rgba(221, 219, 219, 0.726);
  border-radius:100%;
  height:40px;
  width:40px;
  margin-right:7px;
  margin-left:15px;
}
.hamburger-menu
{
  height:24px;

}

.youtube-logo
{
  margin-left: 10px;
  height:20px;
}
.middle-section
{
  display:flex;
  flex:1;                                 
  max-width:650px;
  align-items: center;
  padding-right:50px;

}
.search-bar
{
  flex:1;
  height:35px;
  width:0;
  padding-left: 9px;
  font-size:15px;
  border-width: 1px;
  border-style:solid;
  border-color:rgb(197, 194, 194);
  /*border: 1px solid rbg(197,194,194)= border-width border-style border-color*/
  border-bottom-left-radius: 34px;
  border-top-left-radius: 35px;
  box-shadow:inset 1px 1px 0.001px rgba(0,0,0,0.001);
  margin-right:-1px;
  padding-left: 15px;
  
}
.search-bar:focus 
{ 
  outline:0.01px solid rgb(40, 40, 255);
  margin-right:1px;
  background-image: url("/youtube-icons/search.svg");
  background-size:20px;
  background-repeat: no-repeat;
  background-position: 15px;
  margin-left:-30px;
  padding-left:45px;
}
.search-bar::placeholder
{
  font-size: 16px;
}

.voice-icon-circle
{ 
  display:flex;
  position:relative;
  align-items:center;
  justify-content: center;
  border-radius: 100%;
  border:none;
  width:39px;
  height:39px;
  margin-left:8px;
  background-color: rgb(243, 243, 243);
}
.voice-icon-circle:hover .tooltip
{
  display:flex;
  justify-content: center;
  width: 130px;
}

.voice-icon-circle:hover
{
  background-color:rgba(221, 219, 219, 0.788);
}
.voice-search-icon
{
  height:24px;
}
.search-icon-box
{
  display:flex;
  position:relative;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  width: 66px;
  height:39px;
  border-width:1px;
  border-style: solid;
  border-color:rgb(197, 194, 194);
  border-bottom-right-radius: 34px;
  border-top-right-radius: 35px;
  background-color: rgb(248, 248, 248);
  box-shadow:inset 1px 1px 0.001px rgba(0,0,0,0.001);
  margin-right:5px;
  
}
.search-icon-box:hover
{
  border-color:rgb(188, 188, 188);
  background-color: rgb(242, 242, 242);
}
.search-icon-box:hover .tooltip
{
  display:flex;
  justify-content: center;
}

.search-icon
{
  height:24px;
  
}

.right-section
{
  display:flex;
  justify-content:space-between;
  align-items: center;
  width:160px;
  flex-shrink:0;
  margin-right:20px;
}
.upload-container
{
  position:relative;
}
.upload
{
  height:24px;
}
.upload-container:hover .tooltip
{
  display:flex;
  justify-content: center;
}

.notifications
{ 
  height: 24px;
}
.notification-container
{
  position:relative;
  top:2px;
  padding-right:7px;
}
.notification-container:hover .tooltip
{
  display:flex;
  justify-content: center;
}
.notification-count
{
  display:flex;
  align-items:center;
  justify-content: center;
  position:absolute;
  background-color:rgb(196, 0, 0);
  border-color:white;
  color:white;
  width:15px;
  height:15px;
  border-radius:100%;
  font-size:9px;
  top:-3px;
  right:4px;
  
}
.profile-picture
{
  height:30px;
  border-radius: 100%;
  margin-right:25px;
}

.tooltip
{
  position:absolute;
  font-size:12px;
  background-color:rgba(0, 0, 0, 0.637);
  
  padding-top:9px;
  padding-bottom:9px;
  padding-left:5px;
  padding-right:5px;
  border-radius:5px;
  color:white;
  top:50px;
  display:none;
  
}